/*RESET CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESTILO DO CORPO*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(136deg, rgb(154, 53, 121) 0%, rgb(112, 61, 163) 100%);
}

/*CONTAINER DO SLIDE*/
.wrapper {
    position: relative;
    height: 400px;
    width: 700px;
}

/*IMAGENS DO SLIDE*/
.wrapper .img {
    position: absolute;
    height: 100%;
    width: 100%;
    /*as imagens se sobrepõe*/
}

/*CONFIGURAÇÃO DA TAG IMG*/
.wrapper .img img {
    height: 100%;
    width: 100%;

    /*a imagem preenche todo o container*/
    object-fit: cover;

    /*inicialmente a imagem é invisível, começando como um círculo de raio 0.*/
    clip-path: circle(0% at 0% 100%);

    /*animação suave quando o clip-path muda*/
    transition: all 0.7s;
}

/*CONFIGURAÇÃO PARA MOSTRAR AS IMAGENS DE ACORDO COM O BOTÃO SELECIONADO:
- quando o radio é selecionado,a a imagem se torna visivel (o clip-path muda de 0% para 150%)
*/
#um:checked~.img-1 img {
    clip-path: circle(150% at 0% 100%);
}

#dois:checked~.img-1 img,
#dois:checked~.img-2 img {
    clip-path: circle(150% at 0% 100%);
}

#tres:checked~.img-1 img,
#tres:checked~.img-2 img,
#tres:checked~.img-3 img {
    clip-path: circle(150% at 0% 100%);
}

#quatro:checked~.img-1 img,
#quatro:checked~.img-2 img,
#quatro:checked~.img-3 img,
#quatro:checked~.img-4 img {
    clip-path: circle(150% at 0% 100%);
}

#cinco:checked~.img-1 img,
#cinco:checked~.img-2 img,
#cinco:checked~.img-3 img,
#cinco:checked~.img-4 img,
#cinco:checked~.img-5 img {
    clip-path: circle(150% at 0% 100%);
}

/*---------------------------------------*/

/*BOTÕES DE SELEÇÃO DA IMAGEM*/

/*1. POSIÇÃO*/
.wrapper .sliders {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: flex;
}

/*2. ESTILO*/
.wrapper .sliders label {
    height: 13px;
    width: 13px;
    border: 2px solid rgb(112, 61, 163);
    margin: 0 3px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
}

/*3. ESTILO DO BOTÃO QUANDO ESTÁ SELECIONADO*/
#um:checked~.sliders label.um,
#dois:checked~.sliders label.dois,
#tres:checked~.sliders label.tres,
#quatro:checked~.sliders label.quatro,
#cinco:checked~.sliders label.cinco {
    width: 35px;
    border-radius: 14px;
    background: rgb(112, 61, 163);
}

/*4. EFEITO AO PASSAR O MOUSE NO BOTÃO*/
.sliders label:hover {
    background: rgb(112, 61, 163);
}

/*---------------------------------------*/

/*ESCONDE O PADRAO DO INPUT*/
.wrapper input[type="radio"] {
    display: none;
}